/* Wild card to center everything */
* {
  margin: auto;
  border: 3px solid #73ad21; /*Helps view for formatting*/
  padding: 10px;
  width: fit-content;
}

body {
  display: flex;
  flex-direction: row;
}

#my-charts {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#my-bubble-chart,
#my-bar-chart {
  height: 30%;
}

#local-storage-image {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 500px;
}
