<html>
  <head>
    <title>Demo</title>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <h1>Upload a dog image</h1>
    
    <form action="/predict" method="POST" enctype="multipart/form-data">
      <img id="image-preview"></img>
      <div class="button-div">
        <input
          type="file"
          name="file"
          accept="image/*"
          onchange="displaySelectedImage(this, 'image-preview')"
        />
        <input id="upload-button" type="submit" value="Upload"/>
      </div>
   
    </form>
   
  </body>
</html>
